


#title {
    text-align:left;
}
#form {
    padding-right: 50px;
}
.form-control{
    margin-left: .5%;
    right: -50px;
    width:50vw;
    height: 30vh; 
    border: 7px solid   rgb(46, 174, 183);
    border-radius: 15px;
    -webkit-box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
-moz-box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
background-color: rgba(250, 247, 250, 0.226);
color: rgb(224, 147, 45);
font-size: 32px;
transition: 2.2s;
-ms-transform: scaleY(.5);
  transform: scaleY(.5);
}
.form-control:focus { 
    background-color: rgba(250, 247, 250, 0.596);
    outline: none;
    -ms-transform: scaleY(1);
  transform: scaleY(1);
  }
  span.fa.fa-microphone {
      color:white;
      font-size: 25px;
      position: absolute;
      left: 500px;
    top: 80px;

  }
  

.form-control2 {
    margin-left: .5%;
    right: -50px;
    width:50vw;
    height: 30vh; 
    border: 7px solid   rgb(46, 174, 183);
    border-radius: 15px;
    -webkit-box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
-moz-box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
box-shadow: 2px -1px 13px 1px rgba(250,247,250,1);
background-color: rgba(250, 247, 250, 0.226);
color: rgb(224, 147, 45);
font-size: 32px;
transition: 2.2s;
-ms-transform: scaleY(.5);
  transform: scaleY(.5);
    margin-bottom: 1000px;
} 
.form-control2:focus {
    background-color: rgba(250, 247, 250, 0.596);
    outline: none;
    -ms-transform: scaleY(1);
  transform: scaleY(1);
}




   
    #mytextarea {
        height: 300px;
    
        width: 100px;
        margin-right: 100px;
   
    }
    body { 
        background: url(assets/img/Languages\ Around.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      .form-group {
        position: relative;  
        height: 200px;
        width: 400px;
      }
      
      @media screen  (min-width: 600px) { 
          .col-s-1 {width: 8.33%}  
          .col-s-1 {width: 8.33%;}
          .col-s-2 {width: 16.66%;}
          .col-s-3 {width: 25%;}
          .col-s-4 {width: 33.33%;}
          .col-s-5 {width: 41.66%;}
          .col-s-6 {width: 50%;}
          .col-s-7 {width: 58.33%;}
          .col-s-8 {width: 66.66%;}
          .col-s-9 {width: 75%;}
          .col-s-10 {width: 83.33%;}
          .col-s-11 {width: 91.66%;}
          .col-s-12 {width: 100%;}
    
        